.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
list-style: none;
}
.loader{
  width: 300px;
  display: flex;
    flex-direction: column;
  justify-content: center;
  height: 300px;
}